{% extends 'base.html' %}
{% block content %}

<h1>{{ title }}</h1>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}
        {{ form.username() }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.rememberme.label }}
        {{ form.rememberme() }}
    </p>
    <p>
        {{ form.submit.label }}
        {{ form.submit() }}
    </p>
</form>

<button><a href="{{ url_for('register') }}" >Register</a></button>

{% endblock %}